# Source distribution files.
include LICENSE
include README.rst
include requirements.txt
include setup.py
include pystrich/fonts/*.pbm
include pystrich/fonts/*.pil
include pystrich/qrcode/qrcode_data/*.dat
recursive-include pystrich *


# Prune stray bytecode files.
global-exclude *.pyc
